<!DOCTYPE html>
<html>
<head>
  <title>REQUEST</title>
</head>
<link rel="stylesheet" type="text/css" href="bootstrap.css">
<link rel="stylesheet" type="text/css" href="request.css">
<body>


  <ul  class="nav " style="margin-top:16px;">
  <li class="nav-item" style="margin-left:2%;" >
    <button class="list-group-item list-group-item-primary" ><a href="/">My Pharmacy</a></button>
    
  </li>
  <li class="nav-item" style="margin-left:49.5%;">
    <h3 class="font-weight-bold">WELCOME ADMIN</h3>
    
  </li>

   <li class="nav-item" style="margin-left:2%;">
        <button class="list-group-item list-group-item-primary" type="button" ><a href="/logout">Logout</a></button>
  </li>
 
</ul>


 <center style="margin-left:500px;margin-right:500px;margin-top:40px;padding-bottom:40px;background-color:#f7f7f7;border-radius:70px;">
<h1 style="margin-top:90px;">Enter request</h1>
<form method="post" action="/request" style="margin-top:60px;">
  
 <div class="form-group">

     <input type="text" class="form-control" id="exampleInputEmail1"  placeholder="Medicine" name="medicine" style="width:250px;" required>
    <br>
    <input type="text" class="form-control" id="exampleInputEmail1"  placeholder="Quantity" name="quantity" style="width:250px;" required>
    <br>
 

   
    <input type="text" class="form-control" id="reason" placeholder="Any specific reasons..." name="reason" style="width:250px;height:150px;" > 
    <br>
      </div>

  <button type="submit" class="btn btn-primary">Submit</button>
  
</form></center>

</body>
</html>