<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<ul  class="nav " style="margin-top:16px;">
	<li class="nav-item" style="margin-left:2%;" >
    <a class="list-group-item list-group-item-primary" href="#">My Pharmacy</a>
    
  </li>
  <li class="nav-item" style="margin-left:58.5%;">
    <p class="font-weight-bold"> WELCOME : USERNAME</p>
    
  </li>
   <li class="nav-item" style="margin-left:2%;">
        <button class="list-group-item list-group-item-primary" type="button" href="#">Logout</button>
  </li>
 <li class="nav-item" style="margin-left:2%;">
        <button class="list-group-item list-group-item-primary" type="button" ><a href="/register">Register</a></button>
  </li>
</ul>

</body>
</html>